@{
    var url = TempData["resetLink"] as string;
    string resetLink = url;
}
<div class="container pt-5">
    <div class="card shadow border">
        <div class="card-header bg-success bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white">Forgot Password Confirmation</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <p>Reset password email link has been sent to email account. Kindly follow the instruction to resest the password.<br />
                            @resetLink
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>